
/*Table */
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 2rem 0;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
}

th, td {
    padding: 1rem 1.5rem;
    text-align: left;
}

th {
    background-color: #1D5D9B; /* header background color */
    color: #fff; /* header text color */
    font-weight: 600;
}

tr {
    padding: 0;
}

td {
    vertical-align: middle;
}

tr:nth-child(even) td {
    background-color: rgba(0, 0, 0, .075); /* striped background color */
}

@media screen and (max-width: 640px) {
    thead, th {
        display: none;
    }

    tr, td {
        display: block;
    }

    tr {
        border: 1px solid rgba(0, 0, 0,.15);
        margin-bottom: 2rem;
    }

        tr:last-child {
            margin-bottom: 0;
        }

        tr:nth-child(even) td {
            background-color: transparent;
        }

    td {
        clear: both;
        text-align: right;
    }

        td:before {
            content: attr(data-label)': ';
            float: left;
            font-weight: bold;
            margin-right: 1rem;
        }
}
/*End Table */






@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3.5rem;
    --nav-width: 200px;
    --first-color: #1D5D9B;
    --first-color-light: #F7F6FB;
    --white-color: #F7F6FB;
    --blue-color: #001C30;
    --body-font: Verdana;
    --normal-font-size: 1rem;
    --z-fixed: 100
}


/*Card Headbar Add Data*/


/*All card*/
.head-Add {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .head-Add {
        flex-direction: column;
    }
    .head-AddImg {
        display: none;
    }
    .head-Add p {
        font-size: 15px;
    }

}


    .head-Add p {
        margin-top: 70px;
        margin-left: 20px;
        align-items: center;
        font-weight: 500;
        font-size: 19px;
    }

.head-Add h4 {
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 800;
}


.head-AddImg {
    margin-left: -120px;
    width: 300px;
    height: 280px;
}

.card {
    border-radius: 100px;
    border: 5px;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #FFE0E0;
}

.sect-1 {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}
.sect-2 {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 20px;

}

@media (max-width: 464px) {
    .sect-1 {
        flex-direction: column;
    }
        .sect-1 .btn-upload {
            margin-top: 10px;
        }
}

/*header form upload*/
        .sect-1 .header-upload p {

            color: #1D5D9B;
            font-size: 18px;
            font-weight: 800;
        }



.btn-upload {
    padding: 8px 13px;
    background-color: #1D5D9B;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 16px;

}

/*End header form upload*/

    /*.card-sidebar img {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
}


@media (max-width: 767px) {
    .head-Add {
    display: flex;
    justify-content: space-between;
}

}

.card:hover {
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
}

.card-img-top {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.card-text {
    margin-left: 10px;
    color: #1D5D9B;
    margin-top: 20px;
    font-weight: 700;
}*/
    /*End Card Headbar Add Data*/
    /*Inputan Dropzone*/
    .drop-zone {
        border: 2px dashed #1D5D9B;
        border-radius: 20px;
        width: 350px;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #D1D1EE;
        margin-top: 90px;
        margin-bottom: 10px;
    }

    .drop-zone p {
        margin: 0;
        font-size: 14px;
        color: #888;
    }

    .drop-zone img {
        justify-content: center;
        width: 120px;
        align-items: center;
    }
    .drop-zone p.drag-text {
        font-size: 14px;
        color: #888;
    }
.form-group {
    margin-bottom: 15px;
}

.ProdKet{
    margin-top: 100px;
}

/*End Inputan Dropzone*/




/*Popup After Upload File*/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    width: 450px;
    height: 320px; 
    text-align: center;
    border-radius: 20px;

}

.close-button {
    margin-top: 5px;
    padding: 10px 15px;
    background-color: #1D5D9B;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: whitesmoke;
}
/*End After Upload File*/



/*Radio Button Pilih Tipe Storage*/
/* Untuk radio button yang belum dipilih */
input[type="radio"] {
    -webkit-appearance: none; /* Menghilangkan tampilan default radio button */
    -moz-appearance: none;
    appearance: none;
    border: 2px dashed #1D5D9B; /* Mengatur border radio button */
    border-radius: 50%; /* Membuat radio button berbentuk lingkaran */
    width: 19px; /* Mengatur lebar radio button */
    height: 19px; /* Mengatur tinggi radio button */
    background-color: #D1D1EE;
}

    /* Untuk radio button yang dipilih */
    input[type="radio"]:checked {
        background-color: #1D5D9B; /* Mengubah warna latar belakang radio button */
    }

.storage input{
    margin-right: 8px;
}
.storage label {
    margin-right: 10px;
    margin-top: -10px;
    font-size: 17px;
    font-weight: 700;
    color: #1D5D9B;
}
.storage h5 {
    font-weight: 800;
    color: #1D5D9B;
}
/* End Radio Button Pilih Tipe Storage*/


/*Dropdopwn Select List halaman Report*/
.select-month {
    display: inline-block;
    margin-left: 10px;
    background-color: #1D5D9B;
    border-radius: 5px;
    padding: 5px;
    position: relative;
}

    .select-month label {
        margin-right: 5px;
        font-weight: bold;
        color: #fff;
    }

    .select-month select {
        font-size: 14px;
        border: none;
        background-color: #1D5D9B;
        color: #D1D1EE;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        padding-right: 20px;
    }
    /* Dropdown icon style */
    .select-month::after {
        content: '\25BC'; /* Unicode karakter untuk panah bawah */
        position: absolute;
        top: 50%;
        right: 6px;
        transform: translateY(-50%);
        pointer-events: none;
        color: white;
        font-size: 12px;
    }

    /* Hover effect */
    .select-month select:hover {
        background-color: #1D5D9B;
    }

    /* Focus effect */
    .select-month select:focus {
        box-shadow: 0 0 3px #007bff;
    }
/* End Dropdopwn Select List halaman Report*/





/*Button Pilih File*/
.btn-zone {
    margin-top: 10px;
    justify-content: center;
    margin-left: 80px;
}

.storage {
    margin-top: 80px;
}


@media (max-width: 464px) {
    .storage {
        margin-top: 50px;
    }
}

.file-label {
    color: #1D5D9B; /* Ubah warna teks ke biru */
    font-size: 16px; /* Ubah ukuran font menjadi 16px */
    margin-top: 30px;
    margin-left: 75px;
    font-family: 'Inter';
    font-weight: 700;
}

    .btn-zone label {
        width: 80px;
        height: 35px;
        font-size: 14px;
        font-weight: 600;
        background-color: #1D5D9B;
        border: 1px solid #1D5D9B;
        color: #fff;
    }
        .btn-zone label:hover {
            background-color: #888;
            color: #1D5D9B;
        }
    .btn-zone button {
        width: 80px;
        height: 35px;
        font-size: 13px;
        margin-top: -5px;
        font-weight: 700;
        color: #1D5D9B;
        border: 1px solid #1D5D9B;
    }
        .btn-zone button:hover {
            background-color: #565682;
            color: #fff;
            border: 1px solid #1D5D9B;
        }
/*End Button Pilih File*/




/*Description Ketentuan File*/
.li-file ul {
    list-style-type: none; 
    padding: 0;
}
.li-file li {
    font-size: 13px;
    font-weight: 500;
}
.li-file h5 {
    font-weight: 800;
    font-size: 17px;
    color: #1D5D9B;
}
/*End Description Ketentuan File*/



/*Chart card Grafik Dashboard*/
.chart-card {
    width: 320px;
    height: 345px;
    margin-bottom: -100px;
    margin-right: 3px;
}

/*.card-body {
    margin-bottom: -100px;
}*/
/*End Chart card Grafik Dashboard*/





/*input download serial number*/
/*POPUP DOWNLOAD*/
/* Styling for the floating button */
.download-float-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

    .download-float-button button {
        background: linear-gradient(to bottom, #1861AC, #0A4F89, #083F6D, #062E52);
        color: #fff;
        border: none;
        border-radius: 5px;
        width: 130px;
        height: 40px;
        font-size: 16px;
        cursor: pointer;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    }

        .download-float-button button:hover {
            background-color: #1D5D9B;
            color: #fff;
            border: none;
            border-radius: 5px;
            width: 131px;
            height: 41px;
            font-size: 16px;
            cursor: pointer;
            box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);
        }


/* Styling for the popup */
.popup .popup-dow {
    display: none;
    position: fixed;
    top: 50%; /* Mengatur posisi vertikal ke tengah halaman */
    left: 50%; /* Mengatur posisi horizontal ke tengah halaman */
    transform: translate(-50%, -50%); /* Menggeser popup ke tengah */
    width: 500px;
    height: 250px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.popup-content-dow {
    padding: 20px;
}

.popup-header-dow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.popup-header-dow h3 {
    margin: 0;
    font-weight: 700;
}

.popup-body-dow {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.input-rounded {
    padding: 8px 20px;
    border-radius: 10px;
    color: #001C30;
    border-color: #001C30;
    margin-bottom: 80px;
    margin-top: 20px;
    padding: 5px;
    width: 100%;
    font-size: 15px;
    background-color: #f0f0f0;
}
.input-rounded::placeholder{
    color: darkblue;
    font-weight: 700;
    opacity: 0.4;
}

button#download-button {
    background-color: #1D5D9B;
    color: #fff;
    border: none;
    width: 230px;
    cursor: pointer;
    box-shadow: none;
    bottom: 5px;
}

    button#download-button:hover {
        background-color: #1D5D9B;
        color: #fff;
        border: none;
        width: 231px;
        cursor: pointer;
        box-shadow: none;
    }

/* Styling for close button */
#close-popup-dow {
    padding: 5px;
    margin-right: 0px;
    background: none;
    border: none;
    font-size: 30px;
    color: #000;
    cursor: pointer;
}

/*#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);*/ /* Warna latar belakang semi-transparan */
    /*z-index: 0;
}*/


@media (max-width: 768px) {
    .download-float-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }

        .download-float-button button {
            background: linear-gradient(to bottom, #1861AC, #0A4F89, #083F6D, #062E52);
            color: #fff;
            border: none;
            border-radius: 5px;
            width: 100px;
            height: 30px;
            font-size: 10px;
            cursor: pointer;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
        }

            .download-float-button button:hover {
                background-color: #1D5D9B;
                color: #fff;
                border: none;
                border-radius: 5px;
                width: 101px;
                height: 31px;
                font-size: 10px;
                cursor: pointer;
                box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);
            }

    .popup .popup-dow {
        display: none;
        position: fixed;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        width: 500px;
        height: 250px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .popup-content-dow {
        padding: 20px;
    }

    .popup-header-dow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }

        .popup-header-dow h3 {
            margin: 0;
            font-weight: 700;
        }

    .popup-body-dow {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }

    .input-rounded {
        padding: 8px 20px;
        border-radius: 10px;
        color: #001C30;
        border-color: #001C30;
        margin-bottom: 80px;
        margin-top: 20px;
        padding: 5px;
        width: 100%;
        font-size: 15px;
        background-color: #f0f0f0;
    }

        .input-rounded::placeholder {
            color: darkblue;
            font-weight: 700;
            opacity: 0.4;
        }

    button#download-button {
        background-color: #1D5D9B;
        color: #fff;
        border: none;
        width: 230px;
        cursor: pointer;
        box-shadow: none;
        bottom: 5px;
    }

        button#download-button:hover {
            background-color: #1D5D9B;
            color: #fff;
            border: none;
            width: 231px;
            cursor: pointer;
            box-shadow: none;
        }

    /* Styling for close button */
    #close-popup-dow {
        padding: 5px;
        margin-right: 0px;
        background: none;
        border: none;
        font-size: 30px;
        color: #000;
        cursor: pointer;
    }
}



/*End input download serial number*/




/*Keterangan Pilihan Tipe Bulan*/
.selected-type-box,
.selected-month-box {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #fff;
    font-size: 20px;
    width: 200px; /* Lebar kotak */
    text-align: center; /* Tengahkan teks di dalam kotak */
    box-sizing: border-box; /* Sesuaikan padding dan border ke dalam lebar kotak */
    border-radius: 10px;
    border-width: 2px;
    border-color: #1D5D9B;
    box-shadow: 3px 3px 5px #888888;
}

.selected-type-box {
    color: #000;
    margin-top: 20px;
    margin-bottom: -10px;
}

.selected-month-box {
    color: #000;
    margin-top: 20px;
    margin-bottom: -10px;
}
/*End Keterangan Pilihan Tipe Bulan*/



/*Title Chart Dashboard Management*/
.TitleChart {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 70px;
    margin-bottom: -25px;
    font-weight: 700;
    margin-bottom: -40px;
    background-color: #1D5D9B;
    padding: 18px;
    color: whitesmoke;
    font-size: 18px;
}
/*End Title Chart Dashboard Management*/


/* CSS untuk membuat chart responsif pada breakpoint sm */
@media (max-width: 768px) {
    .chart-card {
        width: 100%;
        margin-bottom: 15px;
    }
}


/*@media (max-width: 992px) {*/
    /* Add responsive styles here */
    /*.card {*/
        /* Adjust the card styles for smaller screens */
        /*border-radius: 5px;
    }

    .chart img {*/
        /* Adjust the image size and positioning for smaller screens */
        /*width: 100%;
        margin-left: 0;
        position: relative;
        right: 0;
    }*/

    /* You can add more responsive styles as needed */
/*}*/


/*Layout*/
/*.headerLogo {
    font-style: oblique;
    font-weight: 800;
    padding: 10px;
    margin-right: -14px;
    background-color: #00552E;
    text-align: center;
    margin-top: -6px;
    margin-bottom: 10px;
    color: white;
    font-size: 20px;
}*/




/*loading popup*/
#loading-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-content {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.custom-loader {
    width: 8vmax;
    height: 8vmax;
    border-right: 8px solid #6cafef;
    border-radius: 100%;
    animation: spinRight 800ms linear infinite;
    position: relative;
}

    .custom-loader:before,
    .custom-loader:after {
        content: '';
        width: 6vmax;
        height: 6vmax;
        display: block;
        position: absolute;
        top: calc(50% - 3vmax);
        left: calc(50% - 3vmax);
        border-left: 8px solid #1D5D9B;
        border-radius: 100%;
        animation: spinLeft 800ms linear infinite;
    }

    .custom-loader:after {
        width: 4vmax;
        height: 4vmax;
        top: calc(50% - 2vmax);
        left: calc(50% - 2vmax);
        border: 0;
        border-right: 8px solid #6cafef;
        animation: none;
    }

@keyframes spinLeft {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(720deg);
    }
}

@keyframes spinRight {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}
/*End loading popup*/



/*Fitur Datatables Search*/ 
.dataTables_filter {
    float: right; /* Posisikan input ke kanan */
    margin-bottom: 60px; /* Jarak dari tabel */
    margin-top: -45px;
    margin-right: 10px;
}

    /* Gaya input pencarian */
    .dataTables_filter input {
        border: 10px solid #1D5D9B;
        border-radius: 25px;
        padding: 10px 20px; /* Tambahkan ruang di dalam input */
        width: 250px;
        background-color: #1D5D9B; /* Latar belakang putih */
        color: #333; /* Warna teks */
        transition: all 0.3s ease; /* Animasi perubahan warna dan border */
        font-size: 16px; /* Ukuran font */
    }

    .dataTables_filter label {
        color: #1D5D9B;

    }

        /* Gaya input pencarian saat fokus */
        .dataTables_filter input:focus {
            outline: none;
            border-color: #1D5D9B;
            box-shadow: 0 0 8px rgba(29, 93, 155, 0.7);
        }

        /* Gaya placeholder di dalam input */
        .dataTables_filter input::placeholder {
            color: #1D5D9B; /* Warna placeholder */
        }

    /* Tombol cari (Opsional) */
    .dataTables_filter button {
        background-color: #1D5D9B;
        color: #1D5D9B;
        border: none;
        border-radius: 25px;
        padding: 10px 20px;
        margin-left: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .dataTables_filter button:hover {
            background-color: #15467D; /* Warna saat tombol dihover */
        }

/*End Fitur Datatables Search*/ 







/*////////////////////////////////////////////////////////////baru/////////////////////////////////////////////////////////////////////////////////////*/


/*Layout*/
body {
    background: #f5f6fa;
    font-family: 'Inter';
}


 .d-flex.justify-content-between {
    left: auto;
  }
.wrapper .sidebar {
    background: linear-gradient(to bottom, #1861AC, #0A4F89, #083F6D, #062E52);
    position: fixed;
    top: 0;
    left: 0;
    width: 215px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

    .wrapper .sidebar .profile {
        margin-bottom: 50px;
        /*text-align: center;*/
    }

        .wrapper .sidebar .profile img {
            display: block;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            /*margin: 0 initial;*/
            margin-left: 20px;
            margin-top: 30px;
            margin-bottom: -40px;
        }

        .wrapper .sidebar .profile h5 {
            color: #fff;
            margin-top: -50px;
            margin-left: 95px;
            font-size: 15px;
            margin-bottom: 20px;
            font-weight: 800;
        }

        .wrapper .sidebar .profile p {
            color: #fff0ff;
            font-size: 12px;
            margin-left: 95px;
            margin-top: -20px;
        }

    .wrapper .sidebar ul li a {
        display: block;
        padding: 10px 12px;
        border-bottom: 1px solid #10558d;
        color: #fff;
        font-size: 12px;
        position: relative;
        text-decoration: none;
        margin-left: -30px;
    }

        .wrapper .sidebar ul li a .icon {
            color: #fff;
            width: 30px;
            font-size: 15px;
            display: inline-block;
        }



        .wrapper .sidebar ul li a:hover,
        .wrapper .sidebar ul li a.active {
            color: #1D5D9B;
            background: #D1D1EE;
            border-right: 2px solid rgb(5, 68, 104);
        }

            .wrapper .sidebar ul li a:hover .icon,
            .wrapper .sidebar ul li a.active .icon {
                color: #1D5D9B;
            }

            .wrapper .sidebar ul li a:hover:before,
            .wrapper .sidebar ul li a.active:before {
                display: block;
            }

.wrapper .section {
    /* width: calc(100%);*/
    padding-right: -225px;
    margin-left: 215px;
    transition: all 0.5s ease;
}

    .wrapper .section .top_navbar {
        background: #33363F;
        height: 55px;
        display: flex;
        align-items: center;
        padding: 0 30px;
        position: fixed; /* Tambahkan properti ini */
        top: 0; /* Posisikan navbar di bagian atas */
        width: 100%; /* Lebar navbar 100% dari lebar tampilan */
        z-index: 1;
        justify-content: space-between;
        align-items: center;
    }

        .wrapper .section .top_navbar .hamburger a {
            font-size: 28px;
            color: #D9D9D9;
        }

            .wrapper .section .top_navbar .hamburger a:hover {
                color: #fff;
            }

            .wrapper .section .top_navbar .nav-logout a {
                color: #D9D9D9;
                text-decoration: none;
            }

                .wrapper .section .top_navbar .nav-logout a:hover {
                    color: #fff;
                }

        .wrapper .section .content {
            margin-top: 100px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 20px;
            /*background: #fff;*/
            padding-right: -225px;
            line-height: 28px;
        }

body.active .wrapper .sidebar {
    left: -215px;
}

body.active .wrapper .section {
    margin-left: 0;
    width: 100%;
}
    body .wrapper .section .top_navbar .nav-logout {
        margin-right: 210px;
    }
body.active .wrapper .section .top_navbar .nav-logout {
    margin-right: 0px;
}


.headerLogo {
    padding-right: -14px;
    background-color: #000;
    margin-top: -20px;
    font-size: 20px;
    justify-content: space-between;
}

    .headerLogo img {
        margin-top: -10px;
        margin-bottom: -10px;
        margin-left: 30px;
        width: 130px;
        height: 75px;
    }



/*Footer Panasonic*/
.wrapper .sidebar .nav-bottom-brand {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 35px;
    margin-bottom: 10px;
}

    .wrapper .sidebar .nav-bottom-brand h3 {
        font-size: 25px;
        color: white;
        font-weight: 500;
        font-family: "Arial Black";
    }


/* END Layout*/

/*Card*/
.card-cr {
    /*margin: 10px;*/
    background: white;
    border: 1px solid;
    border-color: #dddddd; /* Warna border */
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Efek shadow */
}
   
    .card-cr .sect-1 {
        justify-content: space-between;
    }

    .card-cr .sect-2 {
        margin-top: -510px;
        margin-bottom: 20px;
    }

        .card-cr .sect-2 .storage {
            margin-top: 80px;
        }


/*.card-cr .row {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}*/

/*Card Add Data*/
/*.upload-form {
    width: 800px;
    height: 550px;
    margin: 20px;
}*/

.header-upload p {
    margin: 0;
}
/*End Card Add Data*/







/*End Card*/



/*Header Chard Chart*/
.half-color-card {
    display: flex;
    width: 100%;
    border-radius: 10px;
}

.top-background {
    color: white;
    flex: 1;
    padding: 1.5rem; /* Atur padding sesuai kebutuhan */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center; /* Mengatur elemen secara vertikal tengah */
    justify-content: space-between;
}

.card-title {
    margin: 0;
}

.white-background {
    background-color: white;
    flex: 1;
    padding: 1.5rem; /* Atur padding sesuai kebutuhan */
    border-radius: 10px;
    position: relative;
}



.green-background,
.progress-barVMI {
    background-color: #4EA652;
}
.red-background,
.progress-barNONVMI {
    background-color: #A64E4E;
}

.purple-background,
.progress-barALL {
    background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar {
    height: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    right: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
    max-width: calc(100% - 45px); /* Mengatur maksimum lebar progress bar */
    overflow: hidden; /* Mengatasi overflow */
}


.label-left {
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: 17px;
    transform: translateY(-50%);
    font-size: 13px;
}

.label-right {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: 17px;
    transform: translateY(-50%);
    font-size: 13px;
}



.header-chart h5 {
    font-weight: 800;
    margin-bottom: -5px;
    font-size: 25px;
}

.header-chart p {
    font-weight: 500;
    margin-top: -10px;
    margin-left: 2px;
    font-size: 15px;
}

#chart4,
#chart3,
#chart3Wrh,
#chart4Wrh,
#chart7 {
    margin-top: 45px;
}

/*@media (max-width: 464px) {
    .grafik1 {
        margin-bottom: 60px;
    }
}*/




/*button pilih type*/
.btn-typeChart {
    background-color: #1D5D9B;
    padding: 6px 6px;
}

    .btn-typeChart:hover {
        background-color: #33363F;
    }


.chartFirst .card-title {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*donut chart*/
/* CSS untuk progress bar pertama (circle-1) */
.circle-1 {
    border-color: #3498db;
}

    .circle-1 .progress-circle {
        border-color: #3498db;
    }

/* CSS untuk progress bar kedua (circle-2) */
.circle-2 {
    border-color: #e74c3c;
}

    .circle-2 .progress-circle {
        border-color: #e74c3c;
    }

/* CSS untuk progress bar ketiga (circle-3) */
.circle-3 {
    border-color: #27ae60;
}

    .circle-3 .progress-circle {
        border-color: #27ae60;
    }

/* CSS untuk progress label */
.progress-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: #fff; /* Warna teks putih untuk label */
}

/* CSS untuk container progress */
.progress-container {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

/* CSS untuk ring progress */
.progress-ring {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 10px solid #ccc; /* Warna default untuk ring */
    border-radius: 50%;
    position: relative;
}

/* CSS untuk lingkaran progress */
.progress-circle {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 10px solid transparent;
    border-radius: 50%;
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%);
    transform: rotate(90deg);
    transform-origin: center;
}
