@{
    ViewData["Title"] = "Warehouse";
    Layout = "~/Views/Shared/_LayoutWarehouse.cshtml";
}


<div class="container-fluid p-0">
    <div class="d-flex justify-content-between">
        <div class="headerTitle">

        </div>
        <div></div>
    </div>
    
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="header-upload">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>