@{
    ViewData["Title"] = "Production";
    Layout = "~/Views/Shared/_LayoutProduction.cshtml";
}


@*<style type="text/css">
    .bgimg {
        margin-right: -20px;
        margin-left: -20px;
        margin-bottom: -20px;
        margin-top: -45px;
        height: 100%;       
        background-position: center;      
        background-size: cover;   
        position: relative;       
        color: white;   
        font-family: "Courier New", Courier, monospace;
        font-size: 25px;
    }

    .bgimg img{
        position: relative;
        width: 1151px;
        height: 596px;
        opacity: 85%;
        /*height: 1000px;*/
    }

    /* Position text in the top-left corner */
    .topleft {
        position: absolute;
        top: 20px;
        left: 16px;
        text-shadow: 2px 2px #000;
    }

    /* Position text in the bottom-left corner */
    .bottomleft {
        position: absolute;
        bottom: 20px;
        left: 16px;
        text-shadow: 2px 2px #000;
    }

    /* Position text in the middle */
    .middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        text-shadow: 2px 2px #000;
    }

    /* Style the <hr> element */
    hr {
        margin: auto;
        width: 40%;
    }
</style>

<script type="text/javascript">
    // Set the date we're counting down to
    var countDownDate = new Date("Nov 20, 2023 15:37:25").getTime();

    // Update the count down every 1 second
    var countdownfunction = setInterval(function () {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now an the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="demo"
        document.getElementById("demo").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

        // If the count down is over, write some text
        if (distance < 0) {
            clearInterval(countdownfunction);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>

<div class="bgimg">
    <img src="/images/img/comingsoon2.png" />
    <div class="topleft">
        <p>Panasonic</p>
    </div>
    <div class="middle">
        <h1>COMING SOON</h1>
        <hr>
        <p id="demo" style="font-size:30px"></p>
    </div>
    <div class="bottomleft">
        <p>Stock Taking Data App</p>
    </div>
</div>

<div class="container-fluid p-0">
    <div class="d-flex justify-content-between">
        <div class="headerTitle">

        </div>
        <div></div>
    </div>
    
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="header-upload">          
                         <h1>Aproval List</h1>
                    </div>


                    <h1 style="font-size: 200px; text-align: center;"> COMING SOON :)</h1>
                    
                    <img src="/images/img/comingsoon.gif" style="width: 1060px;"/>
                    <div class="bgimg">
                        <img src="/images/img/comingsoon2.png" />
                        <div class="topleft">
                            <p>Panasonic</p>
                        </div>
                        <div class="middle">
                            <h1>COMING SOON</h1>
                            <hr>
                            <p id="demo" style="font-size:30px"></p>
                        </div>
                        <div class="bottomleft">
                            <p>Stock Taking Data App</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>*@