@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutManagement.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewBag.Title</title>


    <!--Cdn Files-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" />
    <script src="~/js/report.js"></script>


    <!-- Tambahkan referensi ke file CSS DataTables -->
    <link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="/DataTables/datatables.css" />

    <script src="/DataTables/datatables.js"></script>
    <!-- Tambahkan referensi ke file JavaScript DataTables -->
    <script src="~/js/jquery.dataTables.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>

    


</head>
<body>

    @*Populoader*@
    <div id="loading-popup" class="loading-popup">
        <div class="custom-loader"></div>
    </div>

    <div class="container-fluid p-0">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h1 id="pageTitle" class="h3 mb-0"><strong>Report Data @ViewBag.Title</strong></h1>

            <div class="select-month" style="margin-left: 10px;">
                <label style="margin-right: 5px;">Select Month :</label>

                <select id="selectedMonth" onchange="loadDefaultView()">
                    <option value="Latest Uploaded Month">Latest Uploaded Month</option>
                    @foreach (var month in ViewBag.MonthList)
                    {
                        <option value="@month.Value">@month.Text</option>
                    }
                </select>
            </div>


            <div class="select-month" style="margin-left: 10px;">
                <label style="margin-right: 5px;">Select Type :</label>
                <select id="selectedType" onchange="updatePageTitle()">
                    <option value="Production">Production</option>
                    <option value="Warehouse VMI">Warehouse VMI</option>
                    <option value="Warehouse NON VMI">Warehouse Non VMI</option>
                </select>
            </div>
        </div>
    </div>

    <br />

    <div class="row mb-10" style="margin-top:90px;">

        <div class="row d-flex align-items-start">
            <div class="col">
                <div class="selected-type-box" style="margin-left: 10px; margin-bottom: 10px; width: 300px;">
                    @*<strong>Pilihan Tipe : </strong>*@
                    <strong>
                    <span id="selectedTypeBox"></span>
                    </strong>
                </div>

                <div class="selected-month-box" style="margin-left: 10px; width: 300px;">
                    @*<strong>Pilihan Bulan : </strong>*@
                    <strong>
                    <span id="selectedMonthBox"></span>
                    </strong>
                </div>
            </div>
        </div>


        <div class="col-md-12">
            <div id="partial-container"></div>
        </div>
    </div>

    <br />

    <div class="download-float-button">
        <button id="open-popup">Download <i class="fas fa-download"></i></button>
        <div id="popup" class="popup popup-dow">
            <div class="popup-content popup-content-dow ">
                <div class="popup-header popup-header-dow">
                    <h3>Dowonload File Excel</h3>
                    <a id="close-popup-dow" class="btn close-popup-dow">&times;</a>
                </div>
                <div class="popup-body popup-body-dow">
                    <input type="text" class="input-rounded" id="serialNumberInput" placeholder="Enter Serial Number">
                    <button class="btn btn-dow" id="download-button" onclick="validateSerialNumber()">Download file .xls</button>
                </div>
            </div>
        </div>
    </div>


    <br />
    <div style="margin-bottom: 50px;"></div>

    <script type="text/javascript">

        function updatePageTitle() {
            var selectedType = document.getElementById("selectedType").value;
            var newTitle = "Report Data ";

            if (selectedType === "Production") {
                newTitle += "Production";
            } else if (selectedType === "Warehouse VMI") {
                newTitle += "Warehouse VMI";
            } else if (selectedType === "Warehouse NON VMI") {
                newTitle += "Warehouse Non VMI";
            }

            document.getElementById("pageTitle").innerHTML = '<strong>' + newTitle + '</strong>';
        }



        var js = jQuery.noConflict(true);

        js(document).ready(function () {
            //var activeType = "Production";
            //var activeMonth = "Latest Update"; // Default active month




            function loadDefaultView() {

                var selectedType = document.getElementById("selectedType").value;
                var selectedMonth = document.getElementById("selectedMonth").value;


                initializeDataTables(selectedType);


                var selectedTypeBox = document.getElementById("selectedTypeBox");
                selectedTypeBox.textContent = selectedType;
                var selectedMonthBox = document.getElementById("selectedMonthBox");
                //selectedMonthBox.textContent = selectedMonth;

                var selectedMonthOption = document.querySelector("#selectedMonth option:checked");

                if (selectedMonthOption.value === "Latest Uploaded Month") {
                    selectedMonthBox.textContent = "Latest Uploaded Month";
                } else {
                    selectedMonthBox.textContent = selectedMonthOption.textContent;
                }



                // lama
                //$.ajax({
                //    url: '/Management/PartialPage?type=' + selectedType + '&selectedMonth=' + selectedMonth,
                //    type: 'GET',
                //    success: function (result) {
                //        $('#partial-container').html(result);
                //    },
                //    error: function (error) {
                //        console.log(error);
                //    }
                //});

                // baru
                js.ajax({
                    url: '/Management/PartialPage?type=' + selectedType + '&selectedMonth=' + selectedMonth,
                    type: 'GET',
                    success: function (result) {
                        js('#partial-container').html(result);
                        //updateMonthDropdown(selectedType);  // jika dikatifkan ini ,Plugin Datatablesnya tidak berfungsi
                        initializeDataTables(selectedType);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }

            // baru
            function updateMonthDropdown(selectedType) {
                // Mengambil daftar bulan dari input tersembunyi yang telah di-update di Controller
                var monthOptions = JSON.parse(document.getElementById("monthOptions").value);

                // Mengosongkan menu dropdown bulan
                var monthDropdown = document.getElementById("selectedMonth");
                monthDropdown.innerHTML = '';

                // Menambahkan pilihan bulan sesuai dengan daftar bulan yang diambil dari Controller
                for (var i = 0; i < monthOptions.length; i++) {
                    var option = document.createElement("option");
                    option.value = monthOptions[i].value;
                    option.text = monthOptions[i].text;
                    monthDropdown.appendChild(option);
                }
            }


            // Memuat tampilan parsial saat halaman dimuat
            js(document).ready(function () {
                initializeDataTables(); // Inisialisasi DataTables saat halaman dimuat
                loadDefaultView();

                js("#selectedType").change(function () {
                    activeType = js(this).val();
                    loadDefaultView();
                });

                js("#selectedMonth").change(function () {
                    activeMonth = js(this).val();
                    loadDefaultView();
                });

                js('.dataTables_filter input').attr('placeholder', 'Cari...');
                js('.dataTables_filter label').prepend('<i class="fa fa-search"></i> '); // Menggunakan font-awesome ikon
            });

            // Fungsi untuk menginisialisasi DataTables
            function initializeDataTables(selectedType) {
                // Destroy any existing DataTable instances before reinitializing
                js("#WarehouseVmi, #WarehouseNonVMI, #Production").DataTable().destroy();

                // Initialize DataTables for the appropriate table based on selectedType
                if (selectedType === "Warehouse VMI") {
                    js("#WarehouseVmi").DataTable({
                        //paging: false // Disable pagination
                    });
                } else if (selectedType === "Warehouse NON VMI") {
                    js("#WarehouseNonVMI").DataTable({
                        //paging: false // Disable pagination
                    });
                } else if (selectedType === "Production") {
                    js("#Production").DataTable({
                        //paging: false // Disable pagination
                    });
                }
            }

            // Fungsi untuk mendownload Excel
            function downloadExcel() {
                var serialNumber = js("#serialNumberInput").val();
                var selectedType = js("#selectedType").val(); // Get the selected type

                if (serialNumber) {
                    var url = "/Management/DownloadExcel?type=" + selectedType + "&serialNo=" + serialNumber; // Pass selectedType and serialNo
                    window.location.href = url;
                } else {
                    alert("Please enter a serial number before downloading.");
                }
            }

            function validateSerialNumber() {
                var serialNoInput = document.getElementById("serialNoInput").value;
                if (!serialNoInput) {
                    alert("Please enter a serial number before downloading the file.");
                } else {
                    // Serial number is entered, proceed with the download
                    downloadExcel();
                }
            }

            // Mengaitkan fungsi downloadExcel() dengan tombol
            js(".btn.btn-dow").click(function () {
                downloadExcel();
            });
        });

        // POPUP
        // Function to open the popup
        document.getElementById('open-popup').addEventListener('click', function () {
            document.getElementById('popup').style.display = 'block';
            document.getElementById('overlay').style.display = 'block'; // Menampilkan overlay
        });

        // Function to close the popup and hide the overlay
        document.getElementById('close-popup-dow').addEventListener('click', function () {
            document.getElementById('popup').style.display = 'none';
            document.getElementById('overlay').style.display = 'none'; // Menyembunyikan overlay
        });


        //Popup Loader
        function showLoadingPopup() {
            document.getElementById("loading-popup").style.display = "flex";
        }

        // Function to hide the loading popup
        function hideLoadingPopup() {
            document.getElementById("loading-popup").style.display = "none";
        }

        // Function to check the network status
        function checkNetworkStatus() {
            var online = navigator.onLine;

            if (online) {
                // Connection is restored, hide the loading popup
                hideLoadingPopup();
            } else {
                // Connection is lost, show the loading popup
                showLoadingPopup();
            }
        }

        // Add an event listener to check network status on page load
        window.addEventListener('load', checkNetworkStatus);

        // Add an event listener to check network status when the connection changes
        window.addEventListener('online', checkNetworkStatus);
        window.addEventListener('offline', checkNetworkStatus);
    </script>
 
</body>
</html>

@*
                 // Memuat tampilan parsial saat halaman dimuat
            //js(document).ready(function () {
            //    loadDefaultView();
            //});


            //// Panggil fungsi untuk memuat tampilan awal
            //loadDefaultView();

            //js("#selectedType").change(function () {
            //    activeType = js(this).val();
            //    loadDefaultView();
            //});

            //js("#selectedMonth").change(function () {
            //    activeMonth = js(this).val();
            //    loadDefaultView();
            //});*@